<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runcoding.dao.order.OrderMapper">

    <resultMap id="resultMap" type="com.runcoding.model.po.order.OrderPo">
        <result column="id" property="id"></result>
        <result column="order_number" property="orderNumber"></result>
        <result column="user_info" property="userInfo" jdbcType="VARCHAR" typeHandler="com.runcoding.handler.type.JsonTypeHandler"></result>
        <result column="user_id" property="userId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>


    <select id="select" parameterType="java.lang.Long" resultMap="resultMap" statementType="PREPARED">
        select 
           id as id,
           order_number as orderNumber,
           user_id as userId,
           user_info as userInfo,
           create_time as createTime,
           update_time as updateTime
        from `order`
        where id = #{id}
    </select>

    <select id="all" resultMap="resultMap">
         select
           id as id,
           order_number as orderNumber,
           user_id as userId,
           user_info as userInfo,
           create_time as createTime,
           update_time as updateTime
        from `order`
    </select>

    <insert id="insert" keyProperty="id" parameterType="com.runcoding.model.po.order.OrderPo" useGeneratedKeys="true">
        insert into `order` (order_number, user_id,user_info)
        values ( #{orderNumber}, #{userId},#{userInfo,jdbcType=VARCHAR,typeHandler=com.runcoding.handler.type.JsonTypeHandler})
    </insert>
    

    <update id="update" parameterType="com.runcoding.model.po.order.OrderPo">
        update `order`
        <set> order_number = #{orderNumber}
        </set>
         where id = #{id}
    </update>
    

    <delete id="delete" parameterType="com.runcoding.model.po.order.OrderPo">
        delete from `order`
         where id = #{id}
    </delete>
</mapper>