<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runcoding.dao.order.OrderMapper">
    

    <select id="select" parameterType="java.lang.Long" resultType="com.runcoding.model.po.order.OrderPo">
        select 
        id as id, order_number as orderNumber, user_id as userId, create_time as createTime, 
            update_time as updateTime
        from `order`
        where id = #{id}
    </select>
    

    <insert id="insert" keyProperty="id" parameterType="com.runcoding.model.po.order.OrderPo" useGeneratedKeys="true">
        insert into `order` (order_number, user_id)
        values ( #{orderNumber}, #{userId})
    </insert>
    

    <update id="update" parameterType="com.runcoding.model.po.order.OrderPo">
        update `order`
        <set>
            <if test=" != null">
                id = #{id},
            </if>
            <if test=" != null">
                order_number = #{orderNumber},
            </if>
            <if test=" != null">
                user_id = #{userId},
            </if>
            <if test=" != null">
                create_time = #{createTime},
            </if>
            update_time = now()
        </set>
         where id = #{id}
    </update>
    

    <delete id="delete" parameterType="com.runcoding.model.po.order.OrderPo">
        delete from `order`
         where id = #{id}
    </delete>
</mapper>